In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
s = pd.Series([1,3,5,np.nan,6,8])

In [6]:
s

0     1
1     3
2     5
3   NaN
4     6
5     8
dtype: float64

In [23]:
dates = pd.date_range('20130101', periods=6)

dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [24]:
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

df

                   A         B         C         D
2013-01-01 -1.658709  0.831829 -1.468778 -0.686252
2013-01-02 -0.294067 -0.523991  0.481842  0.192596
2013-01-03 -0.872268 -0.334970  0.396283 -0.693469
2013-01-04  1.023962 -1.270024 -0.125595  0.350572
2013-01-05 -1.541016 -0.662775  0.002247 -2.224426
2013-01-06 -0.858919  1.803633  0.443306 -0.527479

In [30]:
df2 = pd.DataFrame({
        'A': 1.,
        'B': pd.Timestamp('20130102'),
        'C': pd.Series(1, index=list(range(4)), dtype='float32'),
        'D': np.array([3] * 4, dtype='int32'),
        'E': pd.Categorical(["test","train","test","train"]),
        'F': 'foo'
    })

df2

   A          B  C  D      E    F
0  1 2013-01-02  1  3   test  foo
1  1 2013-01-02  1  3  train  foo
2  1 2013-01-02  1  3   test  foo
3  1 2013-01-02  1  3  train  foo

In [31]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [32]:
df.head()

                   A         B         C         D
2013-01-01 -1.658709  0.831829 -1.468778 -0.686252
2013-01-02 -0.294067 -0.523991  0.481842  0.192596
2013-01-03 -0.872268 -0.334970  0.396283 -0.693469
2013-01-04  1.023962 -1.270024 -0.125595  0.350572
2013-01-05 -1.541016 -0.662775  0.002247 -2.224426

In [33]:
df.tail(3)

                   A         B         C         D
2013-01-04  1.023962 -1.270024 -0.125595  0.350572
2013-01-05 -1.541016 -0.662775  0.002247 -2.224426
2013-01-06 -0.858919  1.803633  0.443306 -0.527479

In [34]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D', tz=None)

In [35]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [37]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.700170 -0.026049 -0.045116 -0.598076
std    0.981651  1.129598  0.741162  0.915638
min   -1.658709 -1.270024 -1.468778 -2.224426
25%   -1.373829 -0.628079 -0.093634 -0.691665
50%   -0.865594 -0.429480  0.199265 -0.606866
75%   -0.435280  0.540129  0.431550  0.012577
max    1.023962  1.803633  0.481842  0.350572

In [38]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A   -1.658709   -0.294067   -0.872268    1.023962   -1.541016   -0.858919
B    0.831829   -0.523991   -0.334970   -1.270024   -0.662775    1.803633
C   -1.468778    0.481842    0.396283   -0.125595    0.002247    0.443306
D   -0.686252    0.192596   -0.693469    0.350572   -2.224426   -0.527479

In [39]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01 -0.686252 -1.468778  0.831829 -1.658709
2013-01-02  0.192596  0.481842 -0.523991 -0.294067
2013-01-03 -0.693469  0.396283 -0.334970 -0.872268
2013-01-04  0.350572 -0.125595 -1.270024  1.023962
2013-01-05 -2.224426  0.002247 -0.662775 -1.541016
2013-01-06 -0.527479  0.443306  1.803633 -0.858919

In [41]:
df.sort_values(by='B')

AttributeError: 'DataFrame' object has no attribute 'sort_values'