In [33]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
sns.set_style('whitegrid')
import plotly.plotly as py
from plotly.graph_objs import *

from __future__ import division
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
import sklearn.preprocessing as skpp
from pandas.tools.plotting import scatter_matrix

In [34]:
df = pd.read_csv('/Users/Taha/Documents/edmodo/adoption_efforts_q2_2016/cluster-districts-students.csv')

In [35]:
df.count()

summary_date     657369
district_id      657369
a_28d_student    657369
dtype: int64

In [13]:
df.head()

  summary_date  district_id  a_28d_student
0   2016-01-01         2025           1387
1   2016-01-01         6005          10038
2   2016-01-01        12352           3034
3   2016-01-01         9869            105
4   2016-01-01        14968            478

In [36]:
df_mean = df.groupby(['district_id'],as_index=False).agg({'a_28d_student':'mean'})

In [16]:
df_mean.head()

   district_id  a_28d_student
0            6     303.553265
1            9     433.663230
2           11      75.570447
3           13      64.405498
4           14     894.621993

In [17]:
df_mean.to_csv('/Users/Taha/Documents/edmodo/adoption_efforts_q2_2016/district_quadrants-students.csv')

In [41]:
#!/usr/local/bin/python

import psycopg2
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

from pandas.tools.plotting import scatter_matrix

In [40]:
conn_str = "dbname='dev' port='5439' user='redmodo1' password='Redmodo2015' host='redshift-analytics.nodemodo.com'";
print "Connecting to \n        ->%s" % (conn_str)
conn = psycopg2.connect(conn_str)

cur = conn.cursor()

query = ("""
select district_id, num_teachers, num_students
from reference.district_population_data
where school_year = 2013
        """)

# x = cur.fetchall()

df = pd.read_sql(query, conn)

Connecting to
        ->dbname='dev' port='5439' user='redmodo1' password='Redmodo2015' host='redshift-analytics.nodemodo.com'

In [42]:
df[df['district_id'] == 2885].head()

       district_id  num_teachers  num_students
10446         2885         11450        183066

In [43]:
df[df['num_teachers'] < 100].count()

district_id     10418
num_teachers    10418
num_students    10418
dtype: int64

In [29]:
df[ df['num_teachers'] == df['num_teachers'].max() ]

       district_id  num_teachers  num_students
16457        17988         27837        655455

In [46]:
df[df['num_teachers'] >= 100].count()

district_id     6040
num_teachers    6040
num_students    6040
dtype: int64

In [44]:
df.count()

district_id     16458
num_teachers    16458
num_students    16458
dtype: int64