In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/Users/Taha/Desktop/districts.csv')

In [4]:
df = df.rename(columns={'4':'id','Alabama School Of Fine Arts':'name','@gmail.com':'email'})

In [5]:
df.head()

   id               name                 email
0   6   Albertville City        @albertk12.org
1   7     Alexander City       @alex.k12.al.us
2   8     Andalusia City            @gmail.com
3   9      Anniston City   @anniston.k12.al.us
4  10  Arab City Schools  @arabcityschools.org

In [16]:
import sys
import re
import dns.resolver   # Requires dnspython

email_host_regex = re.compile(".*@(.*)$")
gmail_servers_regex = re.compile("(.google.com.|.googlemail.com.|.psmtp.com.)$", re.IGNORECASE)

def is_gmail(email):
        """ Returns True if email address is a google hosted email - hosted Gmail address 
        Checks are performed by checking the DNS MX records """
        m = email_host_regex.findall(email)
        try:
            if m and len(m) > 0:
                    host = m[0]
                    if host and host != '':
                            host = host.lower()

                    if host == "gmail.com":
                            return True
                    else:
                            answers = dns.resolver.query(host, 'MX')
                            for rdata in answers:
                                    print rdata
                                    m = gmail_servers_regex.findall(str(rdata.exchange))
                                    #print m
                                    if m and len(m) > 0:
                                            return True
            return False
        except:
            return False
            pass

In [7]:
df['test_email'] = 'test' + df['email']

In [8]:
df.head()

   id               name                 email                test_email
0   6   Albertville City        @albertk12.org        test@albertk12.org
1   7     Alexander City       @alex.k12.al.us       test@alex.k12.al.us
2   8     Andalusia City            @gmail.com            test@gmail.com
3   9      Anniston City   @anniston.k12.al.us   test@anniston.k12.al.us
4  10  Arab City Schools  @arabcityschools.org  test@arabcityschools.org

In [9]:
df['is_google'] = df['test_email'].apply(is_gmail)
# df['test_email'][30:100].apply(is_gmail)

In [10]:
df.groupby('is_google').size()
#df[0:50]

is_google
False    3869
True     3671
dtype: int64

In [11]:
df['id'].count()

7540

In [14]:
df.to_csv('/Users/Taha/Documents/edmodo/adoption_efforts_q2_2016/mx_google_districts.csv')

In [17]:
print is_gmail('@florencek12.org')

0 florencek12-org.mail.protection.outlook.com.
False